@mixin pad {
    @media (max-width: $pad-media) {
      @content;
    }
}
  
@mixin phone {
    @media (max-width: $phone-media) {
        @content;
    }
}
  
@mixin smallPhone {
    @media (max-width: $small-phone-media) {
        @content;
    }
}

*{
	box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
} 

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 ,h2 ,h3 , h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold; /* 粗體字 */
}

.h-100 {
    height: 100%;
}

.textDark {
    color: $color-secondary;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include pad {
        max-width: 672px;
    }

    @include phone {
        max-width: 352px;
    }
}

.block {
    padding-top: 64px;
    padding-bottom: 80px;

    @include pad {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include phone {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.title {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;

    @include pad {
        font-size: 32px;
        margin-bottom: 32px;
    }

    @include phone {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

