/* banner */
.banner {
    height: 840px;
    background-image: url('../images/banner.png');
    background-position: center center; /* 中心點會對準畫面的中間 */
    background-size: cover; /* 盡可能出現整張圖 */

    .bannerBlock {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .bannerTitle {
        color: $color-secondary;
        text-align: right;
    }

    h2 {
        font-size: 36px;  
    }

    h1{
        font-size: 64px;
    }

    @include pad {
        h2 {
            font-size: 20px;
        }

        h1 {
            font-size: 48px;
        }
    }

    @include phone {
        h2 {
            font-size: 16px;
        }

        h1 {
            font-size: 32px;
        }
    }
}

@include pad {
    .banner {
        background-image: url('../images/banner-sm.png');
    }
}

@include phone {
    .banner {
        height: 394px;
    }
}
/* banner */



/* intro */
.intro {
    background-color: $bg-light;

    @include phone {
        .title {
            margin-bottom: 32px;
        }
    }
}

.introList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23.5%;
        padding: 0 37px;
    }

    img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 4px;
        text-align: center;
        color: $color-secondary;
    }

    @include pad {
        li {
            width: 48.2%;
            padding: 0 50px;
            margin-bottom: 40px;
        }

        img {
            width: 80px;
            height: 80px;
            margin-bottom: 16px;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

    @include phone {
        li {
            width: 100%;
            padding: 0 64px;
            margin-bottom: 28px;
        }
    }
}
/* intro */


/* classic */
.classic {
    .container {
        @include phone {
            max-width: 672px;
        }

        @include smallPhone {
            max-width: 352px;
        }
    }
}

.classicList {
    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 32px;

        &:nth-child(2) {
            justify-content: flex-end;
        }
    }

    .classicImg {
        width: 66%;
        margin-right: 24px;

        &:nth-child(2) {
            margin-right: 0;
        }    
    }

    .classicIcon {
        margin-right: 8px;
    }

    .classicTitle {
        display: flex;
        align-items: center;
        color: #AA0601;
        font-size: 48px;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        margin-right: 24px;

        @media (max-width: 1200px) {
            font-size: 40px;
        }
    }

    @include pad {
        li {
            margin-bottom: 8px;
        }

        li:nth-child(2) {
            flex-direction: row-reverse;
        }

        .classicImg {
            width: 61%;
            margin-right: 0;
        }

        .classicIcon {
            width: 32px;
            height: 32px;
        }

        .classicTitle {
            justify-content: center;
            font-size: 28px;
            width: 39%;
            margin-right: 0;
        }
    }

    @include phone {
        li {
            position: relative;
            margin: 0 12px 8px 12px;
        }

        .classicImg {
            width: 100%;
        }

        .classicTitle {
            color: #FFFFFF;
            position: absolute;
            width: 100%;
        }

        .classicIcon {
            filter: brightness(500);
        }
    }
}
/* classic */


/* rec */ 
.recList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 23.5%;
    }

    .recBody {
        color: #212529;
        border: 1px solid #DEE2E6;
        font-family: 'Roboto', sans-serif;
        padding: 16px;
    }

    h4 {
        font-weight: 500;
        margin-bottom: 16px;
    }
    
    .recText {
        margin-bottom: 16px;
    }

    .recTime {
        color: #707070;
    }

    @include pad {
        li {
            width: 48%;
            margin-bottom: 24px;
        }
    }

    @include phone {
        li {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}
/* rec */ 



/* contact */ 
.contact {
    background-color: $bg-light;

    .container {
        max-width: 792px;
    }
    
    .block {
        padding-bottom: 92px;
    }

    .title {
        margin-bottom: 24px;
    }

    .remark {
        font-size: 20px;
        margin-bottom: 16px;
    }

    @include pad {
        .container {
            max-width: 498px;
        }

        .block {
            padding-bottom: 56px;
        }

        .title {
            margin-bottom: 16px;
        }

        .remark {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    @include phone {
        .container {
            max-width: 327px;
        }

        .block {
            padding-bottom: 48px;
        }

        .title {
            margin-bottom: 8px;
        }

        .remark {
            margin-bottom: 8px;
        }
    }
}

.form-group {
    margin-bottom: 16px;

    label {
        display: inline-block;
        margin-bottom: 4px;
    }

    input[type=text], input[type=tel], input[type=email], textarea {
        display: inline-block;
        background-color: transparent;
        border: 1px solid #000000;
        font-size: 16px;
        outline: none;
        width: 100%;
        padding: 14px 16px;
    }
}

/* The checkbox */
.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    } 

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 7px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 2.5px;
    border: 2px solid #000;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.box-footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    input[type=submit] {
        background-color: $color-primary;
        color: $color-light;
        display: block;
        width: 180px;
        padding: 16px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &:hover {
            background-color: $color-secondary;
        }

        @include pad {
            width: 136px;
            padding: 7px;
        }

    }

    @include pad {
        margin-top: 24px;
    }

    @include phone {
        margin-top: 20px;
    }  
}

/* contact */ 