.header{
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    position: relative;

    .hamIcon {
        position: absolute;
        left: 13px;
        display: none;
    }



    @include phone {
        .logo {
            max-width: 48px;
            padding: 10px 0;
        }

        .hamIcon {
            display: block;
        }
    }
}

@include pad {
    .header {
        padding: 0 48px;
    }
}

@include phone {
    .header {
        justify-content: center;
    }
}

.menu {
    display: flex;
    font-size: 20px;

    a {
        color: $color-light;
        display: block; 
        padding: 40px 32px;
    }

    a:hover {
        background-color: #650300;
    }

    @include pad {
        a {
            padding: 40px 20px;
        }
    }
}



@include phone {
    .menu {
        display: none;
    }
}


/*------- footer -------*/

.footer {
    background-color: #AA0601;
    color: #FFFFFF;
    padding: 40px 48px;
    .container {
        max-width: 1150px;
    }
}

@include phone {
    .footer {
        padding: 24px 12px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.contantLeft {
    display: flex;
    flex-direction: column;
} 

.footerMenu {
    display: flex;
    padding: 13px 0;
    margin-bottom: 24px;

    li {
        margin-right: 48px;
    }

    @include pad {
        li {
            margin-right: 40px;
        }
    }

}

@include pad {
    .footerMenu {
        padding: 0;
    }
}

@include phone {
    .footerMenu {
        display: none;
    }
}

.contactList {
    font-family: 'Roboto', sans-serif; 
    font-size: 36px;

    li {
        display: flex;
        margin-bottom: 16px;
    
        .phoneIcon {
            margin-right: 24px;
        }
        
        .mailIcon {
            margin-right: 12px;
        }
    
        @include pad {
            .phoneIcon {
                max-width: 23px;
            }
    
            .mailIcon {
                max-width: 32px;
            }
        }
    }
    
    li:last-child {
        margin-bottom: 0;
    }
}

@include pad {
    .contactList {
        font-size: 20px;
    }
}

.contantRight {
    display: flex;

    li {
        width: 48px;
        margin-right: 32px;
    }

    li:last-child {
        margin-right: 0;
    }

    @include pad {
        li {
            width: 24px;
            margin-right: 14px;
        }

    }
} 

@include phone {
    .contantRight {
        position: absolute;
        top: 1px;
        right: 1px;
        margin-right: 0;
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Roboto', sans-serif;

    .copyrightInfo {
        display: flex;
        align-items: center;
    }
    
    .footerLogo {
        margin-right: 38px;
    }

    .copyrightMenu {
        display: flex;
    }

    .copyrightMenu li{
        margin-right: 62px;
        font-size: 14px;
    }

    .copyrightMenu li:last-child{
        margin-right: 0;
    }

    @include pad {
        .footerLogo {
            display: none;
        }

        .copyrightMenu li{
            margin-right: 24px;
        }
    }

    @include phone {
        .footerLogo {
            display: block;
            position: absolute;
            bottom: 1px;
            right: 1px;
            max-width: 46px;
            margin-right: 0;
        }

        span {
            font-size: 14px;
            margin-bottom: 8px;
        }

        .copyrightMenu {
            flex-direction: column;
            align-items: flex-start;
        }

        .copyrightMenu li:first-child{
            margin-bottom: 8px;
        }
    }
}

@include phone {
    .copyright {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*------- footer -------*/